@import url(http://fonts.googleapis.com/css?family=Lato:300);
*{margin:0;padding:0}*::-webkit-input-placeholder{opacity:0.3}
body{
background-image: url("keyboards-dark.jpg");
background-size: cover;
/*background-repeat: no-repeat;
background:#2f343f;*/
padding-top:5%;
font-size:12px;
width:88%;
margin:auto;
-webkit-font-smoothing:antialiased;
-moz-font-smoothing:antialiased;
-ms-font-smoothing:antialiased;
-o-font-smoothing:antialiased;
font-smoothing:antialiased
}
p,li,a{background:#2f343f;color:#D0D1CC;font-family:Lato,Consolas;font-weight:300;letter-spacing:2px}
.favorites{width:90%;margin:10px auto 40px auto;text-align:center}
.favorites p{border-bottom:1px solid #D0D1CC;padding-right:100%}
.list{display:inline-block;width:20%;margin:0 15px;vertical-align:text-top}
.list ul{list-style-type:none}
.favorites a{text-decoration:none;display:block;padding:3px}
a:hover{color:#222;background:#D0D1CC}
.googles{width:90%;margin:25px auto;text-align:center}
.googles p{display:inline-block;width:22%;margin:10px 10px;border:1px solid #D0D1CC}
form{width:90%;margin:auto;padding:5px;text-align:center;position:relative}
#feed{width:90%;margin:25px auto 0px auto;padding-top:150px;text-align:center;position:relative}
img{margin-left:auto;margin-right:auto;display:block;padding-bottom:60px}
.search{width:400px;height:15px;margin-right:-4px;padding:5px;background:#222;color:#D0D1CC;border:1px solid #444}
.search:hover{border:1px solid #666}
.search:focus{outline:none;border:1px solid #D0D1CC}
.go{height:27px;width:40px;background:#222;color:#D0D1CC;border:1px solid #D0D1CC}
.go:hover{background:#D0D1CC;color:#222;cursor:pointer}
.go:focus{outline:none}
h3{color:#3AD;padding-bottom:5px}
